.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.board {
  font-size: 48px;
}

.form input,
.board span:not(:last-child),
.tries span:not(:last-child) {
  margin-right: 10px;
}

.reset,
.tries {
  margin-top: 20px;
}
